#photo-banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 0 90%;
    position: absolute;
    z-index: 0;
    top: 100px;
    left: 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    filter: brightness(70%);
    margin-top: 20px;
}

.detail-page{
    width:100%
}

#bus-name {
    font-size: 70px;
    color: white;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 20px;
    position: relative;
    left: 200px;
}

#header-wrap {
    padding-top: 160px;
    margin-bottom: 75px;
    max-width: 1200px;
    z-index: 1;
    position: relative;
    font-size: 14px;
    min-width: 400px;
    pointer-events: none;
}

#priceRange{
    color: white;
    position: relative;
    left: 200px;
    top:60px;
}


.on-one-bus{
    color: red;
}

.stars-ctnr{
    position: absolute;
    left: 200px;
}

.one-bus-dollar{
    font-size: xx-large;
}

#belowImg{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bus-info{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

#bus-web{
    color: rgba(2,122,151,1);
}
#bus-phone{
    color: rgba(2,122,151,1);
}
#bus-web:hover{
    text-decoration: underline;
    text-decoration-color:rgba(2,122,151,1);
    cursor: pointer;
}


#bus-addr{
    border: 2px solid gainsboro;
    width: fit-content;
    padding: 50px;
    border-radius: 50px;
}

#bus-contact{
    border: 2px solid gainsboro;
    width: fit-content;
    padding: 50px;
    border-radius: 50px;
}

#bus-descr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 50px;
    font-size: 18px;
}

.bus-descr-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin: 50px 0px;
}

.box-info{
    margin-top: 9px;
}

.box-info-add{

    color: rgba(2,122,151,1);
}

.box-info-add:hover{
    text-decoration: underline;
    text-decoration-color:rgba(2,122,151,1);
    cursor: pointer;
}

#actual-descr{
    margin-top: 9px;
}

#review-wrapper{
    position: relative;
    left: 50px;
}
