.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar{
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px;
  /* position: absolute;
  top: 20px;
  left:60px;
  margin-top: 0px; */
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  width: 1200px;
}

.profile-dropdown {
  position: absolute;
  z-index: 2;
  right: 20px;
  border: 1px solid gainsboro;
  /* margin-top: 5px; */
}

#noDeco{
  text-decoration: none;
}

#logo {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(230, 71, 71);
  font-family: sans-serif;
  margin-left: .5em;
  font-weight: 750;
}

.fa-yelp{
  color: rgb(230, 71, 71);

}
.left-nav{
  display: flex;
  gap: 10px;
  margin-right: 5em;
}

/* Profile Dropdown css */
.menu-div {
  position: relative;
}

.menu-div ul {
  position: absolute;
  list-style-type: none;
  top: 35px;
  right: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  align-items: center;
  background-color: white;
  text-align: center;
}
