.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar{
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px;
  /* position: absolute;
  top: 20px;
  left:60px;
  margin-top: 0px; */
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  width: 100%;
}

.profile-dropdown {
  position: absolute;
  z-index: 2;
  right: 20px;
  border: 1px solid gainsboro;

  /* margin-top: 5px; */
}

.dropdown-ele{
  margin: 5px;
  font-size: 14px;
}
.dropdown-btns{
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  margin-bottom: 2px;
  background-color: red;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}
#noDeco{
  text-decoration: none;
  position: relative;
  top:2px;
  display: flex;
}

#logo {
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  margin-left: .5em;
  font-weight: 900;
}

.fa-yelp{
  color: white;

}

.fa-user{
  color:grey;
  padding: 2px 2px 8px 2px;
}
.left-nav{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 3.5em;
  margin-top: 19px;
}

/* Profile Dropdown css */
.menu-div {
  position: relative;
  left:9px;
  bottom:3px;
}

.menu-div ul {
  position: absolute;
  list-style-type: none;
  top: 68px;
  right: 6px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  align-items: center;
  background-color: white;
  text-align: center;
}

.logo-li{
  display: flex;
  align-items: center;
  gap:40px;
}

#siteFooter{
  position: relative;
  top:10px;
  gap: 12px;
  width: 500px
}
.links{
  margin: 0px 15px;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.alignlogo{
  display: flex;
  align-items: center;
  margin-left:8px
}

.profile-btn{
  border: 2px solid gainsboro;
  border-radius: 50%;
  background-color: gainsboro;
  font-size: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-nav{
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: medium;
  padding: 9.8px;
  background-color: red;
  color: white;
  font-weight: 500;
}

.busi-card-details-link{
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
}

.busi-card-details-link:hover{
  text-decoration: underline;
  text-decoration-color:rgba(2,122,151,1);
}

button:hover{
  cursor: pointer;

}

.search-input {
  padding: 10.2px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-bar {
  position: absolute;
  left: 40%;
  top: 42px;

}
